@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Tilt+Warp&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: #24e6ce;
  --blue: #0e9bed;
  --blue-hover: #1185c8;
  --red: #d60c0c;
  --red-hover: #b70e0e;
  --green: #009400;
  --green-hover: #007e00;
  --dark-blue: #3464b4;
  --grey: #787878;
  --light: #f7fcff;
  --toastify-color-progress-light: linear-gradient(
    to right,
    var(--blue),
    black,
    var(--blue)
  );
}
input[type="file"]::file-selector-button {
  display: none;
}
textarea:focus,
input:focus {
  outline: none;
}
body {
  font-size: 0.8rem;
  font-family: "DM Sans", sans-serif;
  /* background-color: var(--light); */
}
/* th,
td,
table {
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
} */
._font-tilt-warp {
  font-family: "Tilt Warp", sans-serif;
}
._font-dm-display {
  font-family: "DM Serif Display", serif;
}
._color-cyan {
  color: var(--cyan);
}
._color-blue {
  color: var(--blue);
}
._color-grey {
  color: var(--grey);
}
._border-cyan {
  border-color: var(--cyan);
}
._border-grey {
  border-color: var(--grey);
}
._border-blue {
  border-color: var(--blue);
}
._bg-light {
  background-color: var(--light);
}
._bg-blue {
  background-color: var(--blue);
}
._bg-dark-blue {
  background-color: var(--dark-blue);
}
._border-blue-black-gradient2 {
  border-color: transparent;
  border-style: solid;
  border-image: linear-gradient(to right, var(--blue), black, var(--blue));
  border-image-slice: 1;
}
._border-blue-black-gradient {
  border-color: transparent;
  border-style: solid;
  border-image: linear-gradient(to right, black, var(--blue));
  border-image-slice: 1;
}
._text-blue-black-gradient {
  background: -webkit-linear-gradient(black, var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
._fill-btn-blue {
  padding: 0.25rem 0.5rem;
  background-color: var(--blue);
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 0.8rem;
}
._fill-btn-blue:hover {
  background-color: var(--blue-hover);
}
._fill-btn-black {
  padding: 0.25rem 0.5rem;
  border: 2px solid #000000;
  background-color: #000000;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  transition: 0.3s;
}
._fill-btn-black:hover {
  background-color: #252525;
}
._fill-btn-red {
  padding: 0.25rem 0.5rem;
  background-color: var(--red);
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  transition: 0.3s;
}
._fill-btn-red:hover {
  background-color: var(--red-hover);
}
._fill-btn-green {
  padding: 0.25rem 0.5rem;
  background-color: var(--green);
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  transition: 0.3s;
}
._fill-btn-green:hover {
  background-color: var(--green-hover);
}
._fill-btn-blue2 {
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--blue);
  background-color: var(--blue);
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  transition: 0.3s;
}
._fill-btn-blue2:hover {
  background-color: white;
  color: var(--blue);
}
._fill-btn-black2 {
  padding: 0.25rem 0.5rem;
  border: 2px solid #000000;
  background-color: #000000;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  transition: 0.3s;
}
._fill-btn-black2:hover {
  background-color: white;
  color: #000000;
}
._outline-btn {
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--blue);
  color: var(--blue);
  font-size: 0.8rem;
  font-weight: bold;
  transition: 0.3s;
}
._outline-btn:hover {
  background-color: var(--blue);
  color: white;
}
._section-title {
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: block;
  width: 100%;
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
}
._section-title2 {
  padding: 2rem 1rem 0.5rem 1rem;
  display: block;
  width: 100%;
  font-family: "DM Serif Display", serif;
  font-size: 1.25rem;
}
._no-scrollbar::-webkit-scrollbar {
  display: none;
}
._admin-sidebar {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
._admin-content {
  max-width: 80%;
  height: 100%;
  margin-left: 20%;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
}
._admin-center {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}
._cart-content {
  width: 70%;
}
._cart-bill {
  width: 30%;
}
/* flex flex-col p-6 fixed top-1/3 border-4 _border-blue-black-gradient2 bg-white max-w-96 */
._screen-center {
  position: fixed;
  top: 20%;
  max-height: 70vh;
  overflow-y: auto;
}
._transition-0-3 {
  transition: 0.3s;
}
._transition-0-5 {
  transition: 0.5s;
}
@media (max-width: 600px) {
  ._admin-sidebar {
    display: none;
  }
  ._admin-content {
    max-width: 100%;
    margin: 0;
    padding: 1.5rem;
  }
  ._admin-center {
    width: 100%;
    padding-left: 0;
  }
  ._cart-content {
    width: 100%;
  }
  ._cart-bill {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10rem;
  }
  ._screen-center {
    top: 30%;
  }
}
